[mysqld]
bind-address=0.0.0.0
port=3306
character-set-server=utf8
default-time-zone='+0:00'
user=mysql
init-file=/etc/mysql/initdb.sql
skip-host-cache
skip-name-resolve

server-id=2

log_bin=master_bin.log	
lower_case_table_names=1
sync_binlog=1

log-slave-updates
expire_logs_days=10


